.animate { transition: all 0.3s ease-out !important; }
.animate-back { transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important; }
.animate-inout { transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) !important; }

.cursor { color: #999; animation: pulse 1.5s infinite ease-in-out; }
@keyframes pulse {
  0%   { opacity: 0 }
  5%   { opacity: 1 }
  30%  { opacity: 1 }
  70%  { opacity: 0 }
  100% { opacity: 0 }
}

.bounce { animation: bounce .3s infinite alternate ease-out; }
@keyframes bounce {
	  0% { transform: translateY(0); opacity: 1 }
	100% { transform: translateY(-3px); opacity: 0.7 }
}