.theme-dark { background-color: #383f46 }
.theme-dark .right { border-top-color: #22272d; background-color: #252b33; }
.theme-dark .feeds-line { border-right-color: #52585f }
.theme-dark .FeedList .feed .site { color: #fff }
.theme-dark .FeedList .feed .title { color: #fff }
.theme-dark .FeedList .feed .circle { background-color: #383f46 }
.theme-dark .FeedList .feed .more { border-top-color: #535d66; background: linear-gradient(#404643 0%, #30363c 50%); }
.theme-dark .FeedList .feed .body { color: #dadada }
.theme-dark .FeedList .feed .body b { color: #87e2ff; }
.theme-dark .feeds-filter { color: #c6ced7 }
.theme-dark #Dashboard .dashboard-item { background-color: #383f46; color: rgba(255, 255, 255, 0.6) }
.theme-dark h2, .theme-dark h3 { color: #f5faff }
.theme-dark .FeedList .feed.mention .type { background-color: #6c706d; outline: 3px solid #6c706d; color: #fffcdd; }
.theme-dark .search-info-stats td, .theme-dark .search-info-stats th { border-bottom-color: #555f69; color: white; }
.theme-dark .search-info-stats td a { color: #82d9f4 }
.theme-dark .highlight { color: #444; }

.theme-dark .menu { background-color: #383b40; outline: 1px solid #4a4a4a; }
.theme-dark .menu-item { color: #eaf0f5; }
.theme-dark .menu-item:not(.noaction):hover { background-color: #45444b; color: white; }
.theme-dark .menu-item-separator { border-top: 1px solid #505050; }
.theme-dark .menu-radio a { background-color: #414141; color: #b9b9b9; }

@media screen and (max-width: 970px) {
.theme-dark .FeedList .feed .details { border-top: 1px solid #4d565e; border-bottom: none; padding-top: 20px }
.theme-dark .right { background-color: #383f46; }
.theme-dark .FeedList .feed { background-color: transparent; padding-top: 0; }
.theme-dark .FeedList .feed:first-child .details { border-top: 0px; }
}
