#Trigger {
display: none;
}

@media screen and (max-width: 970px) {
.right {
width: 100%;
border-left: 350px solid #2A333C !important;
background-color: #f7f8f9;
}
.left, .SiteList .site {
width: 350px;
}
.left {
background: #2A333C;
position: fixed;
transition: 0.2s all cubic-bezier(0.77, 0, 0.175, 1);
border-bottom: 1px solid #2A333C;
}
.left #Head .menu {
font-size: 90%;
line-height: 180%;
}
.left #Head {
position: absolute;
width: 100%;
z-index: 10;
}
.left h2 {
padding-left: 19px;
}
.left .site-filter {
margin-left: 6px;
width: 83%;
}
.left #SiteList {
overflow-x: hidden;
height: auto;
position: absolute;
top: 92px;
bottom: 0px;
padding-top: 40px;
}
.left #FileList {
height: auto;
position: relative;
top: 92px;
bottom: 0px;
padding-top: 40px;
}
.left #SiteList .details {
position: absolute;
right: 30px;
}
.SiteList .site .inner {
padding-left: 20px;
}
.SiteList .site .inner .title {
max-width: 140px;
}
.SiteList .site .circle {
margin-left: 7px;
}
.FeedList {
margin-top: 10px;
}
.feeds-line {
border-right: none;
}
.FeedList .feed .circle {
margin-left: 0px;
margin-top: -29px;
}
.FeedList .feed {
margin: 0px 0px 10px 0px;
background: #fff;
}
.FeedList .feed, .feeds-search {
padding-left: 20px;
}
.feeds-search {
margin-top: 10px;
margin-left: -8px;
margin-right: 56px;
}
.FeedList .feed .details {
position: relative;
left: unset;
width: 100%;
text-align: left;
padding-bottom: 5px;
margin-bottom: 5px;
border-bottom: 1px solid #eee;
padding-left: 20px;
box-sizing: border-box;
}
.FeedList .feed .added {
float: right;
margin-top: 5px;
}
#FileList .files .tbody .td.inner_path {
overflow: hidden;
}
#PageFiles .left {
position: absolute;
}
#PageFiles .left, #FileList {
min-width: 800px;
}
#PageFiles .right {
display: none;
}
#PageSites .left #Head .modes {
padding-left: 29px;
background-color: #2a333c;
box-shadow: 0px -8px 0px 22px #2a333c;
}
.SiteList .site .message {
z-index: inherit;
}
.welcome .site {
font-size: 35px;
}
}

@media screen and (max-width: 799px) {
.right {
border-left: none !important;
margin-left: 0px;
}
#PageSites .left {
left: -350px;
}
#PageSites .left.trigger-on {
left: 0px;
}
#Trigger {
display: block;
position: fixed;
left: 0px;
bottom: 16px;
z-index: 100;
border-radius: 0px 40px 40px 0px;
transition: transform 0.2s;
transform: rotateZ(0deg);
box-shadow: 0px 0px 15px #737d8c;
background-color: rgba(255, 255, 255, 0.75);
}
#PageFiles #Trigger {
display: none;
}
#Trigger .icon {
display: block;
-webkit-tap-highlight-color: transparent;
color: #1E2429;
padding: 13px 20px;
text-decoration: none;
transition: transform 0.6s;
font-size: 13px;
outline: none !important;
}
#Trigger .icon:active {
background-color: transparent;
}
#Trigger .icon .arrow-right {
border: solid currentColor;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
transform: rotate(-45deg);
}
#Trigger.active {
transform: translateX(348px);
background-color: #2a333c;
box-shadow: none;
}
#Trigger.active .icon {
transform: rotateZ(180deg);
background-color: transparent;
color: white;
}
#Dashboard .menu, #Dashboard .menu.visible {
position: fixed;
overflow-x: auto;
max-width: 100%;
left: 100%;
top: -15px;
font-size: 80%;
line-height: 180%;
}
.menu-item .emoji {
display: none;
}
}

@media screen and (max-width: 500px) {
#Dashboard {
width: 98%;right: 0px;
}
#Dashboard .dashboard-item {
}
.welcome .site {
width: 100%;
}
}
