#Trigger {
display: none;
}

@media screen and (max-width: 970px) {
#Dashboard {
white-space: normal;
text-align: right;
}
#Dashboard .dashboard-item {
margin-top: 0px;
padding: 8px 18px;
}
#Dashboard .dashboard-item.donate {
padding: 8px 17px;
}
.feeds-filters {
margin-top: 15px
}
#Dashboard .menu-item {
text-align: left;
overflow: hidden;
text-overflow: ellipsis;
display: block;
}
.right {
width: calc(100% - 350px);
left: 350px;
background-color: #f7f8f9;
}
.left, .SiteList .site {
width: 350px;
}
.left, .SiteList .site.working {
background-position-x: 6px !important;
}
#BodySites .left {
background: #2A333C;
transition: 0.2s all cubic-bezier(0.77, 0, 0.175, 1);
border-bottom: 1px solid #2A333C;
}
.left #Head .menu {
font-size: 90%;
line-height: 180%;
}
.left h2 {
padding-left: 19px;
padding-right: 50px;
}
.left .site-filter {
margin-left: 6px;
width: 83%;
}
.left #FilePage {
height: auto;
position: relative;
top: 92px;
bottom: 0px;
padding-top: 40px;
}
.left #SiteList .details {
top: 15px;
position: absolute;
right: 30px;
}
.SiteList .site .inner {
padding-left: 29px;
}
.SiteList .site .inner .title {
max-width: 140px;
}
.SiteList .site .circle {
margin-left: 11px;
}
.FeedList {
margin-top: 10px;
}
.feeds-line {
border-right: none;
}
.FeedList .feed .circle {
margin-left: 0px;
margin-top: -29px;
}
.FeedList .feed {
margin: 0px 0px 10px 0px;
background: #fff;
}
.FeedList .feed, .feeds-search {
padding-left: 20px;
}
.feeds-search {
margin-top: 10px;
margin-left: -8px;
margin-right: 56px;
}
.FeedList .feed .details {
position: relative;
left: unset;
width: 100%;
text-align: left;
padding-bottom: 5px;
margin-bottom: 5px;
border-bottom: 1px solid #eee;
padding-left: 20px;
box-sizing: border-box;
}
.FeedList .feed .added {
float: right;
margin-top: 5px;
}
#FilePage .files .tbody .td.inner_path {
overflow: hidden;
}
#BodyFiles .left {
position: absolute;
}
#BodyFiles .left, #FilePage {
min-width: 800px;
}
#BodyFiles .right {
display: none;
}
#BodySites .left #Head .modes {
padding-left: 29px;
background-color: #2a333c;
box-shadow: 0px -8px 0px 22px #2a333c;
}
.SiteList .site .message {
z-index: inherit;
}
.welcome .site {
font-size: 35px;
}

.search-help { margin-left: 0px; }
}

@media screen and (max-width: 799px) {
.left {
position: fixed;
}

.right {
left: 0px;
width: 100%;
margin-left: 0px;
}
#BodySites .left::-webkit-scrollbar {
display: none;
}
#BodySites .left {
left: -350px;
z-index: 1;
overflow-x: hidden;
overflow-y: scroll;
bottom: 0px;
height: 100%;
}
#BodySites .left.trigger-on {
left: 0px;
}
#BodySites #Trigger {
display: block;
position: fixed;
left: 0px;
bottom: 16px;
z-index: 100;
border-radius: 0px 40px 40px 0px;
transition: transform 0.2s;
transform: rotateZ(0deg);
box-shadow: 0px 0px 15px #737d8c;
background-color: rgba(255, 255, 255, 0.75);
}
#BodyFiles #Trigger, #BodyStats #Trigger {
display: none;
}
#Trigger .icon {
display: block;
-webkit-tap-highlight-color: transparent;
color: #1E2429;
padding: 13px 20px;
text-decoration: none;
transition: transform 0.6s;
font-size: 13px;
outline: none !important;
}
#Trigger .icon:active {
background-color: transparent;
}
#Trigger .icon .arrow-right {
border: solid currentColor;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
transform: rotate(-45deg);
}
#Trigger.active {
transform: translateX(348px);
background-color: #2a333c;
box-shadow: none;
}
#Trigger.active .icon {
transform: rotateZ(180deg);
background-color: transparent;
color: white;
}
#Dashboard .menu, #Dashboard .menu.visible {
position: fixed;
overflow-x: auto;
max-width: 100%;
left: 100%;
top: -15px;
font-size: 80%;
line-height: 180%;
transform: translate(-100%, -30px);
white-space: nowrap;
}
.menu-item .emoji {
display: none;
}
#PageFilesDashboard { margin-top: 40px; margin-bottom: 40px; }
}

@media screen and (max-width: 500px) {
.welcome .site {
width: 100%;
}
}
